<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="stylesheet" href="/styles/home.css" />
    <link rel="shortcut icon" href="/imgs/brick.png" type="image/x-icon" />
    <title>Curriculo do Povo</title>
  </head>
  <body>
    <main class="main">
      <h1 class="titulo-construcao">Em Construção🏗️</h1>
      <img
        src="/imgs/architect.png"
        alt="Imagem de um engenheiro em uma obra"
        class="img-construcao"
      />
      <p>Estamos construindo algo incrível! Volte em breve.</p>
    </main>
  </body>
</html>
